<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObjCDep.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ObjClang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA8943741896C03A003B8100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA89438B1896C03A003B8100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA8943C818980117003B8100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA8943E518980117003B8100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
